@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import 'libs/slick';

@import 'base/variables';
@import 'base/mixins';


* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 148px;
    height: 1px;
    background-color: $main-color;
    margin: 20px auto 0 auto;
}

.circle {
    width: 102px;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}


@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/promo';
@import 'blocks/contact';
@import 'blocks/advantage';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/price';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/managers';
@import 'blocks/scheme-work';
@import 'blocks/rewiev';

