.btn { 
    width: 160px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    color: #ffffff;
    border-radius: 30px;
    border: none;
    text-transform: uppercase;
    &:hover {
        background-color: transparent;
        border: 1px solid #fff;
        color: $main-color;
        transition: .3s all;
    }
    
}
