.consultation {
    padding: 0 0 81px 0;
    &__title {
        font-size: 28px;
        line-height: 23px;
        font-weight: 400;
        color: #3a3a3a;
    }
    &-form {
        margin-top: 71px;
    }
    &__label {
        position: absolute;
        padding: 0 10px;
        top: -52px;
        background-color: #fff;
        &-circle {
            border: 1px solid $main-color;
        }
    }
    &__input {
        padding-top: 66px;
        padding-bottom: 51px;
    }
    &__btn {
        position: absolute;
        padding: 0 10px;
        background-color: #fff;
        bottom: -23px;
        &-button {
            width: 180px;
        }
    }
}