.feedback-form {
    background: url('../img/bg/form_bg.jpg') center center/cover no-repeat;
    padding: 62px 0 79px 0;
    &__wrapper {
        width: 896px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    &__header {
        background-color: #25333c;
        height: 68px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        font-size: 19px;
        font-weight: 700;
        line-height: 23px;
        text-transform: uppercase;
    }
    &__descr {
        font-size: 14px;
        font-weight: 400;
        line-height: 12px;
        text-transform: uppercase;
    }
    &__feed-form {
        position: relative;
        display: block;
        padding: 18px 39px 25px;
        margin-top: 0;
        border: none;
        &::after {
            content: "";
            background: #fff;
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: 1;
        }
    }
    &__input, &__btn {
        position: relative;
        z-index: 2;
    }
    &__textarea {
        margin-top: 5px;
        width: 100%;
        height: 73px;
    }
    &__btn {
       padding-top: 10px; 
       display: flex; 
       justify-content: center;
       &-button {
           width: 180px;
       }
    }
}
    