.footer {
    background-color: #25333c;
    iframe {
        display: block;
        width: 100%;
        height: 500px;
    }
    &__content {
        padding: 24px 0 16px 0;
        display: flex;
        justify-content: space-between;
        &_header {
            display: flex;
            align-items: center;
        }
    }
    &__logo {
        width: 70px;
        height: 70px;
        img {
            height: 100%;
            width: 70px;
        }
    }
    &__title {
        padding-left: 40px;
    }
    &__divider {
        width: 100%;
        height: 1px;
        margin: 10px 0;
        background-color: #677177;
    }
    &__sub {
        padding: 14px 0 21px 0;
        display: flex;
        justify-content: space-between;
        &_policy-link {
            color: $main-color;
            &:hover {
                text-decoration: none;
                color: #ffffff;
            }
        }
        &_creator {
            display: flex;
            align-items: center;
            &-icon {
                padding-left: 10px;
            }
        }
    }
}