.managers {
    padding: 58px 0 75px 0;
    background: url('../img/bg/managers_bg.jpg') center center/cover no-repeat;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }   
    &__circle {
        border: 1px solid #fff;
    }
    &__title {
        text-transform: none;
        padding-top: 11px;
    }
    &__descr {
        padding: 5px 108px 0 108px;
    }
}